In [33]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import time

# Site Comparisons for Actigraph Hardware

- this file should visualize the differences in hardware between watches from UI and NEU

In [7]:
#load data

ui = pd.read_csv('../data/UI.csv')
ne = pd.read_csv('../data/NE.csv')

,Name,Sport,Date,Start time,Duration,Total distance (mi),Average heart rate (bpm),Average speed (mi/h),Max speed (mi/h),Average pace (min/mi),...,Descent (ft),Average power (W),Max power (W),Notes,Height (ft in),Weight (lbs),HR max,HR sit,VO2max,Unnamed: 27
0,Cbh Lab,OTHER_INDOOR,08-22-2024,10:18:05 AM,00:30:15,NaN,75,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,5 5,130.1,200.0,55.0,45.0,NaN
1,Sample rate,Time,HR (bpm),Speed (mi/h),Pace (min/mi),Cadence,Altitude (ft),Stride length (in),Distances (ft),Temperatures (F),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,00:00:00,82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,00:00:01,82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,00:00:02,82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
ne.head()

,Name,Sport,Date,Start time,Duration,Total distance (mi),Average heart rate (bpm),Average speed (mi/h),Max speed (mi/h),Average pace (min/mi),...,Descent (ft),Average power (W),Max power (W),Notes,Height (ft in),Weight (lbs),HR max,HR sit,VO2max,Unnamed: 27
0,Cbh Lab,OTHER_INDOOR,08-22-2024,10:18:05 AM,00:30:15,NaN,75,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,5 5,130.1,200.0,55.0,45.0,NaN
1,Sample rate,Time,HR (bpm),Speed (mi/h),Pace (min/mi),Cadence,Altitude (ft),Stride length (in),Distances (ft),Temperatures (F),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,00:00:00,82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,00:00:01,82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,00:00:02,82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
ui.head()

,Name,Sport,Date,Start time,Duration,Total distance (mi),Average heart rate (bpm),Average speed (mi/h),Max speed (mi/h),Average pace (min/mi),...,Ascent (ft),Descent (ft),Average power (W),Max power (W),Notes,Height (ft in),Weight (lbs),HR max,HR sit,VO2max
0,Extend Sub2,OTHER_INDOOR,2/7/2023,4:32:21 PM,0:55:26,NaN,109,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,5 5,200.6,150.0,75.0,18.0
1,Sample rate,Time,HR (bpm),Speed (mi/h),Pace (min/mi),Cadence,Altitude (ft),Stride length (in),Distances (ft),Temperatures (F),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,0:00:00,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,0:00:01,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,0:00:02,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

##### It seems these files are mostly the same, however, let's check on NEU's column 27 -> seems like their is something funky there

In [12]:
#list NE column 27 vals
ne['Unnamed: 27'].unique()

array([nan])

##### Okay, it's an array of NaN which means its an empty column but is showing up in the csv... this could potentially be bad for quality checks.

##### Will need to reach out to NEU to see where this came from

##### For now, let's keep looking

In [29]:
print(len(ne), len(ui))

1818 3326

##### Some weird differences here... let's make sure the timestamps are the same at least

In [35]:
ne_total = 0
for i in range(2, len(ne)):
    try:
        ne_total += abs(time.mktime(time.strptime(ne['Sport'][i], '%H:%M:%S')))

    except:
        print(i)

ne_total

4011482787180.0

In [32]:
# do the same for UI
ui_total = 0
for i in range(2, len(ui)):
    try:
       ui_total += abs(time.mktime(time.strptime(ui['Sport'][i], '%H:%M:%S')))

    except:
        print(i)

ui_total

7342601449974.0

##### Okay, so they are very different in the time that they have on each one, so no QCs by length, will have to make sure this is how it should look w Hayley

In [36]:

print(len(ui.columns), len(ne.columns))

27 28

In [37]:
for i in range(len(ui.columns)):
    if ui.columns[i] != ne.columns[i]:
        print(ui.columns[i], ne.columns[i])

##### Great, they have the same columns but are different lengths for stupid csv reasons... nothing to worry about